# -----------------------------------------------------------------------------
# default values that are overwritten as needed by a person's record
# also: overview of all keys that can be used in the template file
# -----------------------------------------------------------------------------

[DEFAULT]
template    : default
type        : person
company_full: Clark Construction Inc.
company_shrt: Clark Construction
# address
street      : 901 Hildebrand Ln NE
city        : Bainbridge Island
state       : WA
zip_code    : 98110
country     : USA
# channels
tel_base    : 206.842.5450
tel_generic : ${tel_base}0001
tel         : ${tel_base}0001
mobile      : 
fax         : ${tel_base}0002
url         : clarkconstruct.com
# departments
d_sales     : ${d_sales:name}
d_support   : ${d_support:name}
d_complaints: ${d_complaints:name}
d_software  : ${d_software:name}
d_production: ${d_production:name}
# legal
EORI        : 
UIDN        : 
managers    : 
local_court : 
# misc
more_text   : We're building something amazing...


# -----------------------------------------------------------------------------
# departments
# hint: 'name' and 'tel' can be used in a person's record
# -----------------------------------------------------------------------------

[d_sales]
type: department
name: Sales
tel : ${tel_base}0010

[d_support]
type: department
name: Technical Support
tel : ${tel_base}0020

[d_complaints]
type: department
name: Complaints
tel : ${tel_base}0030

[d_software]
type: department
name: Software Development
tel : ${tel_base}0040

[d_production]
type: department
name: Production
tel : ${tel_base}0050


# -----------------------------------------------------------------------------
# people
# for every person's record an email signature will be generated
# -----------------------------------------------------------------------------


[VirajAhire]
first_name: Viraj
last_name : Ahire
department: Intern
tel       : ${tel_base}
email     : viraj.ahire
mobile    : 206.218.4359

[CindyAlvira]
first_name: Cindy
last_name : Alvira
department: Assistant Superintendent
tel       : ${tel_base}x685
email     : cindy
mobile    : 434.284.0504

[JustinAnsley]
first_name: Justin
last_name : Ansley
department: Senior Superintendent
tel       : ${tel_base}x634
email     : justin
mobile    : 919.491.4674

[AdamGardner]
first_name: Adam
last_name : Gardner
department: Project Coordinator
tel       : ${tel_base}x779
email     : adam
mobile    : 985.664.8304

[AidanSievertson]
first_name: Aidan
last_name : Sievertson (she/her/hers)
department: Accounting Manager
DEI Commitee Leader
tel       : ${tel_base}x646
email     : aidan
mobile    : 206.861.5323

[AJPearson]
first_name: AJ
last_name : Pearson
department: Field Team Member
tel       : ${tel_base}x605
email     : aj
mobile    : 360.536.5542

[AlexisGrundmann]
first_name: Alexis
last_name : Grundmann (she/her/hers)
department: Finance Manager
tel       : ${tel_base}x604
email     : alexis
mobile    : 907.209.8828

[LexHoskins]
first_name: Lex 
last_name : Hoskins (she/her/hers)
department: Accounting Administrator
tel       : ${tel_base}
email     : lex
mobile    : 253.820.6012

[AnnReis]
first_name: Ann
last_name : Reis (she/her/hers)
department: Director of Operations
tel       : ${tel_base}x644
email     : ann
mobile    : 206.390.9656

[ArchieGuzman]
first_name: Archie
last_name : Guzman
department: Labor Superintendent
tel       : ${tel_base}x606
email     : archie
mobile    : 360.689.0197

[BenBarlag]
first_name: Ben
last_name : Barlag
department: Project Engineer
tel       : ${tel_base}
email     : ben.barlag
mobile    : 206.931.6035

[BrantYamamoto]
first_name: Brant
last_name : Yamamoto
department: Project Engineer
tel       : ${tel_base}
email     : brant.yamamoto
mobile    : 808.343.7750

[BrianFranck]
first_name: Brian
last_name : Franck
department: Superintendent
tel       : ${tel_base}x648
email     : brian
mobile    : 206.601.6189

[BrianBond]
first_name: Brian 
last_name : Bond
department: Superintendent
tel       : ${tel_base}x608
email     : brian.bond
mobile    : 206.604.7885

[CarlosVallin]
first_name: Carlos
last_name : Vallin
department: Field Team Member
tel       : ${tel_base}x610
email     : carlos.vallin
mobile    : 360.627.1725

[CaseyFrench]
first_name: Casey
last_name : French
department: CEO
tel       : ${tel_base}x651
email     : casey
mobile    : 253.444.7250

[ChrisDykeman]
first_name: Chris
last_name : Dykeman
department: Vice President of Construction
tel       : ${tel_base}x755
email     : chris.dykeman
mobile    : 401.864.3901

[DanielTaylor]
first_name: Daniel
last_name : Taylor
department: Safety & Equipment Manager
tel       : ${tel_base}x698
email     : daniel
mobile    : 970.584-9943

[DanielSnelson]
first_name: Daniel
last_name : Snelson
department: Field Team Member
tel       : ${tel_base}
email     : daniel.snelson
mobile    : 

[DebbieCienega]
first_name: Debbie
last_name : Cienega
department: Project Engineer
tel       : ${tel_base}x637
email     : debbie
mobile    : 360.930.4456

[DerrickPerry]
first_name: Derrick
last_name : Perry
department: Assistant Superintendent
tel       : ${tel_base}
email     : derrick
mobile    : 360.582.6868

[DylanSievertson]
first_name: Dylan
last_name : Sievertson
department: Senior Superintendent
tel       : ${tel_base}x645
email     : dylans
mobile    : 206.972.0740

[LizzySharman]
first_name: Lizzy
last_name : Sharman
department: Administrative Team Member
tel       : ${tel_base}
email     : lizzy
mobile    : 206.407.7151

[ErikDykeman]
first_name: Erik
last_name : Dykeman
department: Project Principal
tel       : ${tel_base}x672
email     : erik.dykeman
mobile    : 628-600-4007

[HeidiVanDenburg]
first_name: Heidi
last_name : Van Denburg (she/her/hers)
department: Project Manager
tel       : ${tel_base}
email     : heidi.vandenburg
mobile    : 954.317.7713

[JacksonMcCoy]
first_name: Jackson
last_name : McCoy
department: Project Engineer
tel       : ${tel_base}
email     : jackson.mccoy
mobile    : 360.471.0341

[JessicaPrevost]
first_name: Jessica
last_name : Prevost (she/her/hers)
department: Director of Operations
tel       : ${tel_base}x652
email     : jessica.prevost
mobile    : 360.277.7253

[JimTsolomitis]
first_name: Jim
last_name : Tsolomitis
department: Superintendent
tel       : ${tel_base}
email     : jim
mobile    : 206.550.3432

[JimSchoville]
first_name: Jim
last_name : Schoville
department: Field Team Member
tel       : ${tel_base}
email     : jim.schoville
mobile    : 360.434.3022

[JimWilliams]
first_name: Jim 
last_name : Williams
department: Superintendent
tel       : ${tel_base}
email     : jim.williams
mobile    : 253.514.5474

[JeremyBaldwin]
first_name: Jeremy 
last_name : Baldwin
department: Senior Labor Superintendent
tel       : ${tel_base}x630
email     : jeremy
mobile    : 360.930.1525

[JulianSmith]
first_name: Julian
last_name : Smith
department: Superintendent
tel       : ${tel_base}x653
email     : julian
mobile    : 206.883.4298

[JulieEdwards]
first_name: Julie
last_name : Schwer Edwards
department: Project Principal
tel       : ${tel_base}
email     : julie
mobile    : 206.549.4548

[KellenBond]
first_name: Kellen
last_name : Bond
department: President
tel       : ${tel_base}x617
email     : kellen
mobile    : 253.985.7559

[MackenzieBond]
first_name: Mackenzie
last_name : Bond
department: Field Team Member
tel       : ${tel_base}x656
email     : mackenzie
mobile    : 360.536.8334

[MarcusBufford]
first_name: Marcus
last_name : Bufford
department: Project Engineer
tel       : ${tel_base}
email     : marcus.bufford
mobile    : 360.531.3222

[MarkeeFoster]
first_name: Markee
last_name : Foster
department: Project Manager
tel       : ${tel_base}x678
email     : markee
mobile    : 206.612.3662

[MartySievertson]
first_name: Marty 
last_name : Sievertson
department: Project Principal
tel       : ${tel_base}x643
email     : marty
mobile    : 360.710.8427

[MatsonContardo]
first_name: Matson
last_name : Contardo (he/him/his)
department: Project Engineer
tel       : ${tel_base}
email     : matson
mobile    : 3204932715

[MirandaLandry]
first_name: Miranda
last_name : Landry
department: Project Coordinator
tel       : ${tel_base}
email     : miranda
mobile    : 509.936.4279

[MykiBufford]
first_name: Myki
last_name : Bufford
department: Admin Team Member
tel       : ${tel_base}
email     : myki
mobile    : 808.428.1903

[NicholasParadis]
first_name: Nicholas
last_name : Paradis (he/him/his)
department: General Superintendent
tel       : ${tel_base}x616
email     : nicholas
mobile    : 206.910.9677

[NinaBlaylock]
first_name: Nina
last_name : Blaylock
department: Assistant Labor Superintendent
tel       : ${tel_base}
email     : nina.blaylock
mobile    : 360 710 8526

[PatMitchell]
first_name: Pat
last_name : Mitchell
department: Field Team Member
tel       : ${tel_base}x635
email     : pat
mobile    : 206.823.9340

[PatrickBall]
first_name: Patrick
last_name : Ball
department: Superintendent
tel       : ${tel_base}
email     : patrick.ball
mobile    : 262.770.6563

[RaymondPondelick]
first_name: Raymond
last_name : Pondelick
department: Field Team Member
tel       : ${tel_base}
email     : raymond.pondelick
mobile    : 360.536.8136

[BeckyMitchell]
first_name: Becky
last_name : Mitchell (she/her/hers)
department: Admin Team Member
tel       : ${tel_base}x769
email     : becky.mitchell
mobile    : 206.406.8466

[RhodricBond]
first_name: Rhodric
last_name : Bond
department: Assistant Superintendent
tel       : ${tel_base}
email     : rhodric.bond
mobile    : 253.820.3645

[StephanieRaines]
first_name: Stephanie
last_name : Raines
department: Project Engineer
tel       : ${tel_base}x731
email     : stephanie.raines
mobile    : 360.865.1761

[StevenReistroffer]
first_name: Steven
last_name : Reistroffer
department: Project Manager
tel       : ${tel_base}
email     : steven.reistroffer
mobile    : 406.546.4086

[TogasiiPeko]
first_name: Togasii
last_name : Peko (he/him/his)
department: Project Manager
tel       : ${tel_base}x679
email     : togasii
mobile    : 206.678.7735

[WillieHepler]
first_name: Willie
last_name : Hepler (he/him/his)
department: Superintendent
tel       : ${tel_base}x665
email     : willie
mobile    : 206.795.5390

[WilliamArps]
first_name: William
last_name : Arps
department: Field Team Member
tel       : ${tel_base}x664
email     : william.arps
mobile    : 360.979.0398

[WilliamNorthrup]
first_name: William
last_name : Northrup
department: Field Team Member
tel       : ${tel_base}
email     : willam.northrup
mobile    : 208.201.6991

[ZachStreun]
first_name: Zach
last_name : Streun
department: Field Team Member
tel       : ${tel_base}
email     : zach
mobile    : 360.731.1258

[AlexisBerreth]
first_name: Alexis
last_name : Berreth
department: Project Engineer
tel       : ${tel_base}x614
email     : alexis.berreth
mobile    : 206.724.4133

[Accounting]
first_name: Accounting
last_name : 
department: 
tel       : ${tel_base}
email     : accounting
mobile    : 206.724.4133

[JonathanHarrison]
first_name: Jonathan
last_name : Harrison
department: Senior Project Engineer
tel       : ${tel_base}x615
email     : jonathan
mobile    : 208.313.6737

[SydneyMahitka]
first_name: Sydney
last_name : Mahitka
department: Accounting Assistant
tel       : ${tel_base}x603
email     : sydney
mobile    : 360.286.7719

[ColeChestnut]
first_name: Cole
last_name : Chestnut
department: Assistant Superintendent
tel       : ${tel_base}x602
email     : cole
mobile    : 206.551.3121

